---
name: Acceptance tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# minimal permissions
permissions:
  contents: read

jobs:
  acceptance_tests:
    name: Platform
    strategy:
      matrix:
        os:
          - windows-2019
          - windows-2022
          - windows-2025
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-13
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      BEAKER_debug: true
      FACTER_ROOT: facter
      RELEASE_STREAM: puppet8

    steps:
      - name: Checkout current PR
        uses: actions/checkout@v4
        with:
          path: facter

      - name: Install Ruby 3.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Fix common Linux and macOS permissions
        if: runner.os != 'Windows'
        run: sudo chmod a-w /opt

      - name: Fix Linux permissions
        if: runner.os == 'Linux'
        run: |
          sudo chmod a-w /home/runner /usr/share &&
          sudo chmod -R a-w /home/runner/.config /home/linuxbrew

      - name: Install dhclient for Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt install isc-dhcp-client
          sudo dhclient

      # IPv6 is missing on the GitHub macOS image and we need it for the networking facts tests
      # https://github.com/actions/runner-images/issues/668
      - name: Add IPv6 on macOS
        if: runner.os == 'macOS'
        run: |
          primary_interface=`route -n get default | awk '/interface: */{print $NF}'`
          sudo ifconfig $primary_interface inet6 add ::1/64

      - name: Run acceptance tests on Linux and MacOS platform
        if: runner.os != 'Windows'
        run: sudo -E "PATH=$PATH" ruby $FACTER_ROOT/.github/actions/presuite.rb ${{ matrix.os }}

      - name: Run acceptance tests on Windows-like platform
        if: runner.os == 'Windows'
        run: ruby $Env:FACTER_ROOT/.github/actions/presuite.rb ${{ matrix.os }}
