---
name: Checks

on:
  pull_request: {}
  push:
    branches:
      - main

# minimal permissions
permissions:
  contents: read

jobs:
  rubocop_checks:
    runs-on: ubuntu-24.04
    name: RuboCop
    steps:
      - name: Checkout current PR
        uses: actions/checkout@v4

      - name: Rubocop checks
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true
      - run: bundle exec rake rubocop
      - run: gem build --strict --verbose *.gemspec

  tests:
    if: always()
    needs:
      - rubocop_checks
    runs-on: ubuntu-24.04
    name: Test suite
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
