---
name: Checks

on:
  pull_request: {}
  push:
    branches:
      - main

# minimal permissions
permissions:
  contents: read

jobs:
  rubocop_checks:
    runs-on: ubuntu-24.04
    name: RuboCop
    steps:
      - name: Checkout current PR
        uses: actions/checkout@v4

      - name: Rubocop checks
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true
      - run: bundle exec rake rubocop
      - run: gem build --strict --verbose *.gemspec

  linux_unit_tests:
    needs:
      - rubocop_checks
    name: Ruby version
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '2.7'
          - '3.0'
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
          - 'jruby-9.4.8.0'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout current PR
        uses: actions/checkout@v4

      - name: Rspec checks
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake spec_random

  windows_unit_tests:
    name: Windows tests with Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '2.7'
          - '3.2'
    runs-on: windows-2025
    steps:
      - name: Checkout current PR
        uses: actions/checkout@v4

      - name: Rspec checks
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake spec_random

  tests:
    if: always()
    needs:
      - rubocop_checks
      - linux_unit_tests
      - windows_unit_tests
    runs-on: ubuntu-24.04
    name: Test suite
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
